@font-face {
  font-family: "Stapel";
  src: url("Stapel-Regular.woff2") format("woff2"),
    url("Stapel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
